*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
    width: 100%;
    background-color: aqua;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.5rem;
}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style: none;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
}
.nav-links li:hover{
    cursor: pointer;
}
.nav-toggle{
    display: none;
}

@media (max-width: 1000px) {
    .nav{
        width: 85%;
    }
}

@media (max-width: 700px) {
    .nav-toggle{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.8rem;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links{
        width: 100%;
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .show-nav-links{
        display: flex;
    }
}